/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'jost';
    src: url('../src/assets/fonts/Jost-VariableFont_wght.ttf');
    font-weight: 500;
}

body{
    font-family: 'Jost';
}

a{
    text-decoration: none;
    color: inherit;
}