.dashboard-container {
    padding: 20px;
    background-color: #f8f9fa;
    font-size: 75%;
}

.stat-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.total-assets {
    background-color: #1d4975;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.total-users {
    background-color: #1d4975;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.active-assets {
    background-color: #1d4975;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.total-values {
    background-color: #1d4975;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}